body {
    margin: 0;
    padding: 0;
}



section {

    margin: 50px;
    border: 1px solid gray;
    min-height: 1500px;
    position: relative;
}

.nuotrauka {
    position: absolute;
    background-image: url(../000/bg.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}

.box {
    width: 150px;
    height: 150px;
    /* border: 3px solid black; */
}

.box.box1 {
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.483);
    border-color: rgba(220, 20, 60, 0.209);
    text-align: center;
    display: inline-block;

}

.box.box1 .migtukas {
    position: relative;
    display: inline-block;
    background-color: gray;
    border: 3px solid white;
    /* text-align: center; */
    min-width: 200px;

}

.box.box2 {
    position: relative;
    height: 400px;
    /* top: 0px;
    right: 0px; */
    background-color: rgba(21, 21, 209, 0.483);
    border-color: rgba(220, 20, 60, 0.209);
}

.box.box3 {
    position: absolute;
    top: 0px;
    /* right: 0px; */

    background-color: rgba(183, 226, 27, 0.483);
    border-color: rgba(220, 20, 60, 0.209);
}

.box.box4 {
    position: sticky;
    top: 150px;
    text-align: center;
    background-color: rgba(225, 14, 187, 0.483);
    border-color: rgba(220, 20, 60, 0.209);
}