/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* base style */
body {
    background-color: #e8f0f7;
    font-family: 'Inter', sans-serif;
    min-height: 5000px;
    padding-top: 60px;
}

/* normal styles */

.header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;

}

.logo {}

.logo__img {
    height: 40px;
    display: block;
}

.nav {}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__item {}

.nav__link {
    color: rgb(255, 255, 255, 0.75);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav__link:hover,
.nav__link:focus {
    color: rgb(255, 255, 255, 1);
}

.nav__link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
}

.nav__link:hover::after {
    opacity: 1;
}

.btn {
    color: white;
    background-color: #0071e3;
    padding: 7px 7px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #509ce9;
}

/* Media queries */
@media(max-width: 650px) {
    .header__content {
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .nav__list {
        column-gap: 20px;
    }
}