* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;

}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
    font-family: sans-serif;
    color: #fff;
}

.container>div {
    flex: 100%;
}

.subContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: #000;
    border-radius: 3px;
}

/////////////////////////////////////
.header {
    background-color: #ffffff;
    color: #1f1534;
    width: 100%;
    max-width: $xl;
    /* height: auto; */
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    padding-left: 1px;
}

.logo-t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #458ff6;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    border-radius: 100px;
    padding-top: 2px;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #233348;
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

.navigacijos-sarasas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    column-gap: 40px;
    height: 23px;
    font-size: 18px;
    color: #1f1534;
    font-weight: 500;
    padding-top: 14px;
    padding-right: 2px;
}

/////////////////////////////////////
.sidebar {
    flex: 1;
    background: greenyellow;
}

.main_container {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main_container>div {
    flex: 100%;
}

h4 {
    padding: 10px;
}

.main {
    min-height: 250px;
    background: lightgrey;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content1,
.content2,
.content3 {
    min-height: 200px;
    background: grey;
    flex: 1;
}

.footer {
    flex: 100%;
    min-height: 50px;
    background: pink;
}

.sidebar,
.main,
.content>div {
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

@media only screen and (max-width: 1220px) {
    .container {
        margin: 10px;
    }
}

/* @media only screen and (max-width: 768px) {
    .subContainer {
        flex-direction: column;
    }

    .sidebar {
        min-height: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .content>div {
        flex: 100%;
    }

    .content1,
    .content2,
    .content3 {
        min-height: 170px !important;
    }
} */