* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 98, 245, 1) 0%, rgba(103, 195, 245, 1) 100%);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 40px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.Roll {
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: darkgray;

    /* transition: transform 0.8s;
    transform-style: preserve-3d; */

}

.Roll:hover {
    /* transform: rotateX(360deg); */
    background-color: gray;
}

.image {
    font-size: 80px;
}