 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: #ff9626;
     background: linear-gradient(166deg, rgba(255, 150, 38, 1) 0%, rgba(237, 5, 175, 1) 100%);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
 }

 .container {
     background-color: rgba(255, 248, 220, 0.3);
     display: flex;
     flex-direction: column;

     padding: 20px;
     border-radius: 10px;
     gap: 15px;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);

 }

 p {
     margin-left: 15px;
 }

 input {
     font-size: 18px;
     padding: 10px 20px;
     background-color: rgba(255, 228, 196);
     border: 1px solid grey;
     border-radius: 5px;
 }

 button {
     font-size: 20px;
     padding: 10px;
     border-radius: 5px;
     border: 2px solid rgba(211, 211, 211, 0.605);
     /* width: 40%; */
     background: linear-gradient(166deg, rgba(255, 150, 38, 1) 0%, rgba(237, 5, 175, 1) 100%);

     cursor: pointer;
 }

 button:hover {
     transition: 100ms;
     box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);

 }