* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#app {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
.mainas {

    width: 100%;
    width: 1220px;
    max-width: 1220px;
    padding: 50px;
    height: 100px;
    background-color: aquamarine;
    z-index: 2;
} */
.header {
    position: absolute;
    display: block;
    color: #1f1534;
    width: 100%;
    max-width: 1220px;
    /* padding-top: 56px; */
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    padding-left: 1px;
}

.logo-t {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #458ff6;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    border-radius: 100px;
    padding-top: 2px;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #233348;
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

.navigacijos-sarasas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    font-size: 18px;
    color: #1f1534;
    font-weight: 500;

}

.box {
    /* top: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    max-width: 1220px;

    /* height: 3000px; */
    background-color:
    ;
}

.box1 {
    position: absolute;
    /* margin: auto; */
    width: 100%;
    width: 475px;

    background-color: red;
    opacity: 0.5;
    z-index: 1;
    font-size: 50px;
    color: white;

}

.box2 {

    position: absolute;
    width: 100%;
    /* left: 140px; */

    /* top: 0; */
    /* left: 1000px; */
    right: -20px;
    max-width: 650px;
    min-width: 400px;
    /* height: 500px; */
    background-color: blue;

    /* z-index: -1; */
    img {
        width: 100%;
    }
}

.box3 {
    position: absolute;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* top: 50px; */
    /* width: 1000px;
    height: 800px; */
    top: 0;
    left: calc(-131px - 108px);
    /* margin-left: -100PX; */
    background-color: green;

}

/* 
.box4 {
    position: relative;
    margin: 0 auto;
    top: -1000px;
    width: 1000px;
    height: 800px;
    background-color: orange;
} */