* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    height: 500vh;

}

:root {
    --main-color-light: #9A54BC;
    --main-color-dark: #60267F;
    --main-color-gray: #A79D9D;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #60267F;
    color: white;
    font-size: 10px;
    align-items: center;
    padding: 4.4px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 470px;
    align-items: center;
    flex-wrap: wrap;

}

.linkContainer {
    font-family: 'Roboto';
    color: rgba(43, 2, 54, 1);
    width: 300px;
    font-weight: 600;
    font-size: 15px;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    row-gap: 30px;
}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid var(--main-color-light);
    color: var(--main-color-light);
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--main-color-light);
    color: white;
}

.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    /* height: 300px; */
    /* background-color: orange; */
    row-gap: 23px;
}

.firstSection h1 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    color: #2B0236;
    letter-spacing: 1.2px;
}

.firstSection button {
    padding: 15px;
    background-color: var(--main-color-light);
    border: 1px solid var(--main-color-light);
    font-weight: 700;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.firstSection button:hover {
    background-color: transparent;
    color: var(--main-color-light);
}

.sectionElipses {
    /* background-color: lightgreen; */
    height: 500px;
    position: relative;
}

.absolute {
    position: absolute;
}

.EllipseSmall {
    top: 75px
}

.phone {
    max-width: 122px;
    top: 85px;
}

.phoneLogo {
    top: 195px;
}

.buttonSectionElipses {
    top: 370PX;
    padding: 5px 10px;
    color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.buttonSectionElipses:hover {
    background-color: var(--main-color-light);
    color: white;
}

.sectionIcons {
    margin-top: 50px;
    flex-direction: column;
    column-gap: 50px;
}

.containerIcons {
    margin-top: 50px;
    justify-content: space-evenly;
    width: 70%;
}

.containerIcons img:not(.icon4, .icon5) {
    width: 100px;
}

.icon4 {
    width: 80px;
}

.icon5 {
    width: 160px;
}

.sectionCollabHelp {
    margin-top: 50px;
    flex-direction: column;

}

.collabHelpMainContainer {
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    height: 500px;
    margin-top: 45px;
}

.collabHelpLeftContainer {
    /* background-color: lightblue; */
    height: 500px;
    width: 500px;
    margin: 16px 0 0 0;
    flex-direction: column;
    justify-content: flex-start;

}

.collabHelpButtonContainer {
    flex-direction: row;
    width: 100%;
    padding: 2px;
    border-radius: 3px;
}

.collabHelpButtonContainer button {

    width: 50%;
    background-color: white;
    border: 2px solid white;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);
    -webkit-box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);
    -moz-box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);



}

.collabHelpButtonContainer button:hover {
    background-color: var(--main-color-dark);
    border: 3px solid var(--main-color-light);
    color: white;
    cursor: pointer;

}

.collabHelpTextContainer {
    margin-top: 25px;
    width: 95%;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.collabHelpTextContainer p {
    width: 100%;
    background-color: #F2F2F2;
    padding: 1.8rem 1rem;
    text-align: left;
}

.collabHelpTextContainer p:nth-child(2) {
    width: 100%;
    background-color: crimson;
    padding: 1.8rem 1rem;
    text-align: left;
}

.collabHelpTextContainer p b:nth-child(2) {
    font-weight: 600;
    letter-spacing: 1.1px;
}


.collabHelpImg img {
    width: 300px;
}

.sectionVideo {
    margin-top: 100px;
    flex-direction: column;
    row-gap: 40px;
}

.sectionVideo p {
    width: 70%;
    text-align: center;
}

.sectionVideo iframe {
    min-width: 800px;
    height: 600px;
    border: 4px solid crimson;
    border-radius: 30px;
}


.projectsDone {
    margin-top: 100px;
    flex-direction: column;
}

.cardConteiner {
    margin-top: 60px;
    width: 90%;
    justify-content: space-evenly;
}

.card img {
    width: 400px;
    height: 340px;
}

.card {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.cardConteiner img {
    width: 300px;
    height: 250px;
}

.card p {
    color: var(--main-color-dark);
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}

.card span {
    color: black;
    font-weight: 500;
    padding-left: 10px;
}

.readyToStart {
    margin-top: 200px;
    flex-direction: column;
    gap: 30px;
}

.readyToStartTopP {
    color: var(--main-color-gray);
}

.readyToStartTopDiv {
    gap: 15px;
}

.monthly {
    color: var(--main-color-gray);
}

.yearly {
    font-weight: 500;
}

.discount {
    font-size: 14px;
    background-color: #FFE87A;
    padding: 5px 10px;
    border-radius: 5px;
}

.readyToStartCard {
    flex-direction: column;
    border: 2px solid #aaaaaa;
    width: 260px;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 25px;
    gap: 25px;
}

.readyToStartCard ul {
    margin-left: 18px;
    margin: 20px 0;

}

.readyToStartCard p {
    font-weight: 500;
}