ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
 
}
 
ul li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
   
}
 