div.fadevideo{
    animation: fadeIn 5s;
}
#myVideo {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  opacity: 0.30;
}

body {
    background-color: black;
    padding: 10%;
}



main {
    background-color: rgba(0, 0, 0, 0.60);
}

table {
    color: #b7b89f;

}

h1 {
    font-size: xx-large;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
}

h2 {
    font-size: 24px;
    color: #b7b89f;
}

p {
    color: #cbcbcb;
    font-weight: 100;
    font-family: "Outfit", sans-serif;
}

p u {
    color: #b7b89f;
    font-weight: 300;

}

p b {
    font-weight: 300;
}

a:link {
    color: #B7B89F;
}

a:active {
    color: white;
}

a:visited {
    color: #9b9d8f;
}

a:hover {
    color: white;
}

footer p {
    color: black;
}

div p {
    column-rule: red;
    background-image: url("https://images.sonurai.com/HCABooks.jpg");
}
