body {
  margin: 0;
  padding: 10PX;
  background-color: rgb(72, 72, 72);
  font-family: monospace;
  font-size: 20PX;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  padding: 20PX;
  background-image: url(/images/farmland.jpg?54932cda357e32ba4f1a5fcb56de4eff);
  background-repeat: no-repeat;
  background-size: cover;
}

legend {
  padding: 0 10px;
}

#pridetiButton {
  color: white;
  background-color: transparent;
  cursor: pointer;
  background: #22C1C3;
  background: linear-gradient(167deg, rgba(34, 193, 195, 0.05) 0%, rgba(8, 166, 45, 0.3) 100%);
  border-radius: 5px;
  padding: 3px;
  border: 1px solid lightgray;
}

.list-row {
  max-width: 600px;
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* width: 40%; */
  line-height: 40px;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}

.other-group {
  min-width: 225px;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.animal-id {
  display: flex;
  flex-wrap: nowrap;
  min-width: 245px;
  font-size: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  width: 30px;
  height: 15px;
}
