body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

.box::after {
    content: 'cat';
    color: aliceblue;
    display: block;
    width: 50px;
    height: 50px;
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box::before {
    content: 'dog';
    color: aliceblue;
    display: block;
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Minimalus puslapio plotis kuriam galioja taisyklės. Nuo 480 px */
@media(min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media(min-width: 780px) {
    body {
        background-color: salmon;
    }
}

/* Maximalus puslapio plotis kuriam galioja taisyklė iki 1000 px */
@media(max-width: 1000px) {
    .box {
        background-color: chocolate;
    }
}

section {
    font-size: 0;
    max-width: 1500px;
    border: 1px solid gray;
    margin: 20px auto;
}

section .block {
    background-color: cornflowerblue;
    margin: 20px;
    display: inline-block;
    width: calc(100% - 40px);
    font-size: 20px;
}

@media (min-width: 480px) {
    section .block {
        width: calc(50% - 40px);
        font-size: 40px;
    }
}

@media (min-width: 780px) {
    section .block {
        width: calc(25% - 40px);
        font-size: 60px;
    }
}

div.icon svg {
    width: 255px;
}

div.icon svg path:nth-child(10) {
    fill: yellowgreen;
}

div.icon svg path:nth-child(11) {
    fill: crimson;
}

div.icon svg path:nth-child(9):hover {
    fill: green;
}

.find {
    margin: 30px;
    position: relative;
    display: inline-block;
}


.find input {
    outline: none;
    font-size: 30px;
    border: none;
}

.find svg {
    position: absolute;
    width: 30px;
    top: 3px;
    right: 3px;
    fill: grey;
}


h1 {
    color: skyblue;
}