body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: gray;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: darkgray;
    input[type='text'] {
        width: 50px;
    }
}

.controls label {
    margin-right: 10px;
}

.controls input[type='text'],
.controls input[type='color'] {
    // padding: 2px;
    margin-right: 15px;
    // border-radius: 2px;
}

.controls button {
    padding: 10px 15px;
    margin-right: 10px;
    background: lightgray;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.controls button:hover {
    background: white;
}

.controls button:nth-child(2) {
    background: #dc3545;
}

.controls button:nth-child(2):hover {
    background: #c82333;
}

#ballsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 100px;
    justify-content: center;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    font-size: 15px;
}
