body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.deze {

    background-color: black;
    border: 3px solid orange;

    &.vienas {
        width: 300px;
        height: 300px;
    }

    &.du {
        width: 25vw;
        height: 25vw;

    }


    &.trys {
        position: relative;
        max-width: 300px;

        .content {
            color: white;
            font-size: 30px;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        /* height: ; */
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }


}