* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 150px;
  background-color: darkgoldenrod;
  color: white;
  font-size: 26px;
  font-family: monospace;
  // padding: 10px;
  /* min-height: 300px; */
  /* margin: 10px; */
  display: flex;
  // justify-content: center;
  // align-items: center;
  //   align-items: flex-end;
  text-align: center;
}

// .box:nth-child(2) {
//   order: 5;
//   flex-shrink: 3;
//   align-self: flex-start;
//   text-align: center;
// }

// .box:nth-child(3) {
//   order: 1;
//   flex-grow: 2;
// }

section {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  //   justify-content: space-around;
  // justify-content: space-evenly;
  // justify-content: flex-start;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  // column-gap: 1000px;
  // row-gap: 20px;
  // align-items: stretch;
  // flex-direction: row-reverse;
  // flex-direction: row;
  // flex-direction: column-reverse;
  // padding: 50px;
}
