* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    background-color: black;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.header {
    /* border: 1px solid black; */
    background-color: #ffffff;
    position: relative;
    color: #1F1534;
    width: 100%;
    height: 100px;
}

.header-content {
    position: relative;
    width: 1600px;
    margin: 0 auto;
    top: 56px;
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    background-color: white;
    /* border: 1px solid black; */
}

.logo {
    display: flex;
    position: relative;
    padding-left: 1px;

}

.logo-t {
    display: flex;
    position: relative;
    font-family: 'Mulish', sans-serif;
    width: 41px;
    height: 41px;
    background-color: #458ff6;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    border-radius: 100px;
    padding-top: 2px;
    justify-content: center;
    align-items: center;

}

.logo-text {
    color: #233348;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-left: 12px;

}


.navigacijos-sarasas {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    height: 23px;
    font-size: 18px;
    color: #1F1534;
    font-weight: 500;
    /* border: 1px solid black; */
    margin-top: 14px;
    padding-right: 2px;
}

.navigacijos-sarasas li:first-child {
    font-weight: bold;
}

.navigacijos-sarasas li:not(:first-child) {
    opacity: 0.5;
}