main {
    background-color: #ffffff;
    overflow: hidden;
    height: 3000px;
    position: relative;
}

.conteiner1 {
    position: relative;
    display: block;
    /* border: 1px solid black; */
    max-width: 1220px;
    height: 598px;
    margin: 0 auto;
    margin-top: 77px;
}

.png12 {
    position: absolute;
    top: -17px;
    left: -240px;

}

.png1 {
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    right: -27px;
}

.virtual {
    position: relative;
    display: flex;
    top: 106px;
    left: 0;
    max-width: 440px;
    flex-direction: column;
    z-index: 1;
}

.virtual p:nth-child(1) {
    /* border: 1px solid black; */
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    padding-bottom: 25px;
}

.virtual p:nth-child(2) {
    /* border: 1px solid black; */
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    text-align: left;
    margin-bottom: 49px;
}

.virtualbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 60px;
    font-weight: 600;
    color: #ffffff;
    background-color: #458FF6;
}

.conteiner2 {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid black; */
    max-width: 952px;
    height: 177px;
    margin: 0 auto;
    margin-top: 192px;
    text-align: center;
}

.our-services p {
    color: #000000;
    /* display: inline-block; */
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}

.midline {

    width: 56px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 33px;

}

.our-services p:last-child {

    /* display: inline-block; */
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.conteiner3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 37px;
    column-gap: 34px;
    max-width: 1120px;
    height: 745px;
    margin: 0 auto;
    margin-top: 80px;
    /* border: 1px solid black; */
}

.box {
    text-align: center;
    color: black;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.5);
    background-color: #ffffff;

}