body {
  background-color: #ffffff;
  font-family: "Outfit", sans-serif;
  margin: 0;
}


th h1 {
  text-transform: uppercase;
  color: rgb(95, 160, 122);
  margin: 0px 0px;
  padding-top: 10px;
  font-size: xx-large;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

ol {
  color: grey;
  font-weight: 900;
  margin: 5px 5px;
}

li a {
  color: orange;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: large;
  font-weight: 900;
}

li a:hover {
  color: black;
}

div.zoom img {
  height: 107px;
  vertical-align: middle;
  opacity: .2;
}

div.zoom img:hover {
  opacity: 1;
  transition: transform .2s;
  transform: scale(2);
}

section {
  font-size: 0px;
  max-width: 1025px;
}

div.box {
  box-sizing: border-box;
  border: 1px solid lightgray;
  display: inline-block;
  background-image: linear-gradient(to bottom, rgb(96, 195, 231));
  width: 340px;
  vertical-align: top;
  margin: 0px 0px;
  text-align: center;
  font-size: 14px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 900;
  color: white;
  /* margin: 20px 10px; */
  vertical-align: middle;
}

p,
u,
b {
  color: white;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
}

b {
  font-weight: 900;
}

a:hover {
  color: white;
}

footer p {
  color: black;
}